@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face { font-family: Muli; src: url('../fonts/Muli-VariableFont_wght.ttf'); } 

* {
  font-family: 'Mulish', sans-serif;
  color: black;
}

p {
  font-size: 14px !important;
  font-weight: 300 !important;
}

.carousel-caption:nth-child(1) {
  text-align: left;
  color: white !important;
  padding: 0;
  bottom: 60px;
  left: 112px;
  font-size: 10px;
}

.carousel-caption:nth-child(2) {
  text-align: left;
  color: white !important;
  text-transform: uppercase;
  padding-bottom: 30px;
  left: 112px;
  bottom: 70px;
}

h3 {
  font-size: 35px;
  font-weight: bold;
}
  
.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity .50s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}
  
html,
body,
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}
  
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carouselIndex {
  position: absolute !important;
}

#portfolio {
  padding-top: 80px;
}

.img-fluid{
  position: absolute;
  top: -100px;
  z-index: -1;
}

.nounderline {
  text-decoration: none !important;
}

.text-body:hover{
  color: #b6b6b6 !important;
  transition: all ease 0.3s;
}

.navbar {
  transition: all 0.5s;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 15px 16px !important;
}


.navbar.active{
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s;
  padding: 5px 16px !important;
}

.navbar-nav {
  align-items: center;
  padding-right: 45px;
  padding-top: 10px
}

hr {
  border-top: 2px solid black;
  border-color: #000;
}

.portfolio-details {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio-info {
  box-sizing: border-box !important; 
}

.black {
  color: #000!important;
}

.xbold {
  font-weight: 800;
}

.portfolio-details .portfolio-info p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.nosotros-img {
  max-width: 100% !important;
  height: auto !important;
}

.trabajo-img {
  width: 100% !important;
  transition: 0.3s;
  object-fit: cover;
  height: 50vh;
}

.trabajo-img:hover {
  opacity: .7;
}

#footer {
  background: #FFF;
    padding: 0 0 30px 0;
    color: rgba(0, 0, 0, 0.600);
    font-size: 14px;
    border-top: solid 1px #000;
    max-width: 90%;
    margin: 50px auto 0;
}

#footer .copyright{
  text-align: center;
  padding-top: 30px;
  margin-left: -55px;
  color: black !important;
  width: 100%
}

.portfolio-info p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.portfolio-info h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.post-img-div {
  width: 100%;
  height: 35vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.post-img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-img-div:hover .post-img {
  transform: scale(1.05);
  opacity: 0.9;
}

.ideas-caption {
  margin: 0px;
  padding: 0px;
  color: black;
}

.ideas-caption::first-letter {
  text-transform: capitalize;
}

.ideasItem-authorImg {
  position: absolute;
  width:3%
}

.ideasItem-img{
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ideasItem-img img {
  min-width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 40%;
  position: absolute;
  top: 0;
  filter: grayscale(50%)
}

.blockContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  align-items: flex-start;
  width: 60%;
}

.blockContent img {
  width: 100%;
  align-items: center;
}

.blockContent figure {
  width: 80%;
  transition: 1s;
  align-self: center;
}

.blockContent figure:hover {
  transform: scale(1.3);
  cursor:zoom-in;
  transition: 1s;
}

.blockContent figure img {
  margin: 30px 0 20px 0;
}

.ideasItem-title {
  width: 60%
}

.ideasItem-title h4 {
  text-transform: uppercase;
}

.ideasItem-title h2::first-letter{
  text-transform: capitalize;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.adjust {
  position:absolute;
  top: -40px;
}

.portfolio-details-container{
  margin-top: -80px;
}

.casos-info{
  position: absolute;
  top: 750px;
}

.carousel {
  position: relative;
}

.adjust {
  position: unset !important;
}

.adjust img {
  width: 100%;
}

.link-hover:hover {
  color: rgb(79, 79, 79) !important;
  transition: 0.5s;
}

a {
  transition: 0.5s !important;
}

.img-fluid-2 {
  max-width: 100%;
  height: auto;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    transform: translateY(-10px);
}

.fade-appear p,
.fade-enter p {
  transform: translateY(-5px);
  opacity: 0;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms linear 150ms, transform 300ms ease-out 150ms;
}

.fade-appear-active p,
.fade-enter.fade-enter-active p {
  transform: translateY(0);
  opacity: 1;
}

.fade-appear-active p:nth-child(2),
.fade-enter.fade-enter-active p:nth-child(2) {
  transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
}

.fade-appear-active p:nth-child(3),
.fade-enter.fade-enter-active p:nth-child(3) {
  transition: opacity 300ms linear 400ms, transform 300ms ease-out 400ms;
}

.fade-appear-active p:nth-child(4),
.fade-enter.fade-enter-active p:nth-child(4) {
  transition: opacity 300ms linear 500ms, transform 300ms ease-out 500ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms linear, transform 150ms ease-in;
}

.navbar-font {
  font-size: 12px;
  font-weight: 800 !important;
}

.small {
  font-size: 80% !important;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.img-slider {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  object-fit: cover;
}